#idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea

#plugins
plugins/**

#platforms
platforms/**

#node
node_modules/**

#src
src/app/*.js
src/app/*.map
src/pages/*.js
src/pages/*.map
src/providers/*.js
src/providers/*.map
src/test.js
src/*.map

#www
www/**

NOTICE
COPYRIGHT

.npmignore
