<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>User</ion-title>
        <ion-buttons end>
            <button ion-button (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                Logout
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
            <p> User: {{username}} </p>
            <p>Your Email is: {{email}}</p>
        </ion-card-content>
    </ion-card>
    <div *ngIf="kin_score">
        <ion-card>
            <user-score [kin_score]="kin_score" [aud_score]="aud_score" [visual_score]="visual_score"></user-score>
        </ion-card>
    </div>

    <ion-card>
        <ion-card-content text-center>
            <h3>You Are A {{user_category}} Learner!</h3>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-title text-center>Knowledge Base</ion-card-title>
        <ion-card-content>
            <div text-center>
                <button ion-button>Kinesthetic</button>
                <button ion-button>Visual</button>
                <button ion-button>Auditory</button>
            </div>

        </ion-card-content>
    </ion-card>
    <div *ngIf="knowledge">
        <h1>Hello</h1>
    </div>
</ion-content>
