page-register {

  .login-content {
    background: #161616;

    .login-box {
      border-radius: 10px;
      background:  #0D47A1;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      font-size: 1.1em;
      margin-bottom: 10px;

    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      box-shadow: none !important;
    }

    .submit-btn {
      border-radius: 30px !important;
    }
  }
}
