<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{learning_style[0].category}} Knowledge Base</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <ion-list>
            <ion-item text-wrap *ngFor="let k of knowledge.modalities">
                <ion-card>
                <ion-title text-center>{{k.name}}</ion-title>
                    <ion-card-content text-center e>{{k.value}}</ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
    <hr>
    <div text-center>
        <h6 style="display: inline-block">Tips on how to improve learning sessions:</h6>
        <button ion-button (click)="showLearning()">
            <ion-icon *ngIf="!show_learning" name="arrow-down"></ion-icon>
            <ion-icon *ngIf="show_learning" name="arrow-up"></ion-icon>
        </button>
    </div>
    <div [hidden]="!show_learning">
        <ion-list>
            <ion-item text-wrap *ngFor="let w of learning_style[0].strategies">
                <ul>
                    <li><p>{{w}}</p></li>
                </ul>
            </ion-item>
        </ion-list>
    </div>
    <hr>

</ion-content>
