<ion-slides>
    <ion-slide *ngFor="let w of survey">
        <ion-title [hidden]="hideSection" id="section">{{w.section}} Section</ion-title>
        <hr>
        <ion-list text-wrap radio-group [(ngModel)]="radioValue" >
            <div id="title">{{ w.question }}</div>
            <hr>
            <ion-item *ngFor="let answer of w.answers">
                <ion-label>{{ answer.answer }}</ion-label>
                <ion-radio value={{answer._id}}></ion-radio>
            </ion-item>
            <button ion-button [hidden]="w.isfirstquestion" (click)="prevSlide()">Prev</button>
            <button ion-button [hidden]="(survey.length == (w._id))" (click)="nextSlide(w._id, w.question, w.section)">Next</button>
            <button ion-button [hidden]="!(survey.length == (w._id))" color="secondary" (click)="saveSurvey(w._id, w.question, w.section)">Save</button>
        </ion-list>
    </ion-slide>
</ion-slides>
