page-session-hist {
  ion-icon {
    font-size: 30px;
  }
  .button {
    width: 50px;
    height: 25px;
    font-size: 12px;

    vertical-align:text-bottom;
  }
  #delete {
    font-size: 19px;
  }
  #more {
    font-size: 20px;
  }
}
